/* ===== PROJECTS PAGE ===== */

.projects-page{
  max-width:1200px;
  margin:0 auto;
  padding:100px 20px 60px;
  text-align:center;
}

/* ===== HEADING ===== */

.projects-page h1{
  font-size:38px;
  margin-bottom:15px;
  font-weight:700;
}

.projects-page h1::after{
  content:"";
  display:block;
  width:80px;
  height:4px;
  margin:12px auto 0;
  background:linear-gradient(90deg,#6c63ff,#22d3ee);
  border-radius:5px;
}

/* ===== DESCRIPTION ===== */

.projects-page p{
  max-width:700px;
  margin:0 auto 60px;
  color:#9ca3af;
  line-height:1.6;
  font-size:16px;
}

/* ===== PROJECT GRID ===== */

.project-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:30px;

  justify-items: center;   
  align-items: center;
}

/* ===== TABLET ===== */

@media (max-width: 1000px){

.project-grid{
  grid-template-columns:repeat(2,1fr);
}

}

/* ===== MOBILE ===== */

@media (max-width: 600px){

.projects-page{
  padding-top:80px;
}

.projects-page h1{
  font-size:30px;
}

.project-grid{
  grid-template-columns:1fr;
}

}